@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html {
	height: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	clear: none;
	float: none;
    min-height: 100%;
    background-color: lightslategray;
}

h1 {
    font-family: Source Sans Pro;
    text-align: center;
    margin: 1em auto;
    color: snow;
    background-color: #333333;
}

#form {
    font-family: Source Sans Pro;
    font-size: 105%;
    width: 30%;
    display: grid;
    margin: 1.5em auto;
    background-color: whitesmoke;
}

#form input{
    width: 500px;
    font-size: 15px;
    height: 20px;
}

#form button {
    font-family: Source Sans Pro;
    font-size: 20px;
    margin: 0.5em auto;
    float: right;
    width: 25% !important;
}

#form label {
    text-decoration: solid;
    margin-top: 0.5em;
}

#form legend {
    background: whitesmoke;
    font-size: 115%;
}

#form span {
    text-align: left;
    color: red;
    font-style: italic;
}