@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Sans+Pro&display=swap');

html {
	height: 100%;
}

body {
	margin: 0% auto;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	clear: none;
	float: none;
    min-height: 100%;
    background-color: lightslategray;
}

h1 {
    font-family: Source Sans Pro;
    text-align: center;
    margin: 1em auto;
    color: snow;
    background-color: #333333;
}

.calculator  {
    margin: 0% auto;
    padding: 20px;
    width: 340px;
    height: 480px;
    border-radius: 25px;
    background-color: #333333;
}

.calculator td button{
    font-family: Inconsolata;
    font-size: 25px;
    width: 70px;
    height: 70px;
    clear: both;
} 

.calculator td button:hover  {
    background-color: cornflowerblue;
}

.calculator td #addition:hover, #subtraction:hover, #multiplication:hover, #division:hover  {
    background-color: lightcoral;
}

.calculator td #clear:hover, #equal:hover{
    background-color: lightgreen;
}

.calculator td #dot:hover{
    background-color: lightsalmon;
}

#addition, #equal {
    height: 145px;
}

#zero {
    width: 145px;
}

#panel, #answer{
    font-family: Inconsolata;
    font-size: 25px;
    padding: 10px;
    height: 25px;
    text-align: right;
    background: black;
    color: turquoise;
}