@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
	height: 100%;
}

body {
    margin: 0% auto;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	clear: none;
	float: none;
    min-height: 100%;
    background-color: black;
}

h1 {
    font-family: Source Sans Pro;
    text-align: center;
    margin: 1em auto;
    color: snow;
    background-color: #333333;
}

img {
    margin: 0% auto;
    width: 60%;
    position: relative;
    visibility: hidden;
}

button {
    font-family: Source Sans Pro;
    font-size: 25px;
    margin: 5% auto;
}

.slider {
    display: grid;
    overflow: hidden;
}

.buttons {
    margin: 0 auto;
}

#previous:hover, #next:hover {
    background-color: turquoise;
}

#previous:disabled, #next:disabled {
    background-color: lightslategray;
}

#start:hover {
    background-color: tomato;
}